# BundlerCache
.bundle
vendor
[gG]emfile.lock

# Jekyll Cache
.jekyll-cache
.jekyll-metadata
_site

# Ruby Gems
*.gem

# NPM Dependencies
node_modules
package-lock.json

# Miscellaneous
_sass/vendors
assets/js/dist
